---
# Playbook de creation de l'utilisateur ansible-admin

- name: Creation de l'utilisateur ansible-admin sur tous les serveurs
  hosts: servers
  become: yes
  tags:
    - user
    - setup
  roles:
    - ansible_user

  post_tasks:
    - name: Afficher les informations de connexion
      debug:
        msg: |
          L'utilisateur {{ ansible_admin_user }} a ete cree avec succes.
          
          Pour vous connecter:
          ssh {{ ansible_admin_user }}@{{ ansible_host }}
          
          La cle privee se trouve sur le serveur ansible-control:
          {{ ansible_admin_home }}/.ssh/id_rsa
      when: inventory_hostname in groups['jenkins']
